certifi
charset-normalizer
colorama
colorlog
cycler
fonttools
idna
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
networkx
numpy
opencv-python
packaging
pandas
Pillow
prettytable
pyparsing
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
seaborn
six
threadpoolctl
torch==1.12.1
torchvision==0.13.1
torchaudio==0.12.1
torch-geometric==2.1.0.post1
torch-scatter==2.0.9
torch-sparse==0.6.15
torch-cluster==1.6.0
torch-spline-conv==1.2.1
tqdm==4.64.0
typing-extensions==4.2.0
urllib3==1.26.9
wcwidth==0.2.5

